body{
    background-color: rgb(102, 102, 102);
    text-align: center;
}

p{
    color: rgb(156, 18, 18);
}

.bola {
font-style: italic;
color: rgb(251, 255, 0);
}

.imgl {
    width: 150%;
}
h1{
    text-align: center;
}
h2{
    text-align: right;
}
h3{
    text-align: left;
}